.menu{
    display: flex;
    text-align: center;
    &__li{
        &:last-child{
            margin-right: 0;
        }
    }
    &__li__link{
        display: block;
    }
}


@include mobile{
    .menu-mb{
        flex-direction: column;
        width: 100%;
    }
}