extend _layout.pug

block content
    include mixins/_iconParagraph
    include mixins/_hamburger

    main.l-main
        header.box-full.l-cataBanner.mb-1_100.mb-500-pad.mb-300-mb(style=`background-image:url(./img/72@2x.png)`)
            .box-lg.h-full.d-flex.f-cross-end
                h2
                    +iconParagraph("pageBanner",["fas" ,"fas fa-question-circle"],"常見問題", "rl" )
        section.box-full
            .box-lg
                h3.mb-200.mb-400-pad.mb-200-mb.lh-140.fz-rem-200.fz-rem-175-pad.fz-rem-125-mb 我想詢問配鏡問題
                
                +hamburger([
                    { title:"Q1.請問可否自備鏡框單配鏡片？" , content: "A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。" },
                    { title:"Q2.眼鏡都可以20分鐘取件嗎？" , content: "A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。" },
                    { title:"Q3.散光鏡片需要額外加價嗎？" , content: "A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。" },
                    { title:"Q4.我可以使用舊眼鏡的度數配鏡片嗎？" , content: "A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。" },
                    { title:"Q5.請問可以單購買鏡框嗎？" , content: "A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。" },
                ])


