.featureSymbol{
    display: block;
    border-radius: 4px;
    width: 1em;
    height: 1em;
}

.featureSymbol--wood{
    background-color: #5F3E2D;
}

.featureSymbol--lighter{
    background-color: #B75929;
}