%formLineCommon{
    line-height: 1.375;
    margin-bottom: $space * 2;
    
}

.form__lineSame{
    @extend %formLineCommon;
    display: flex;
    align-items: center;
    .form__subject{
        margin-right:  $space * 3;
    }
    .form__unit{
        flex: 1 1 1px;
    }
}

.form__line{
    @extend %formLineCommon;
    .form__subject{
        display: block;
        margin-bottom: $space * 0.5;
    }
    .form__unit{
        width: 100%;
    }
}

.form__line--lg, 
.form__lineSame--lg {
    font-size: 1.5rem;
    .form__unit{
        font-size: 1.125rem;
        padding: 10px 20px;
    }
}
.form__line--black, 
.form__lineSame--black {
    .form__unit{
        border: 1px solid $black;
    }
}

@include pad{
    .form__line--md-pad, 
    .form__lineSame--md-pad {
        font-size: 1rem;
        .form__unit{
            font-size: 1rem;
            padding: 14px 16px;
        }
    }
}

@include mobile{
    .form__line, .form__lineSame{
        margin-bottom: $space * 1.5;
        
    }
    .form__line{
        .form__subject{
            margin-bottom: $space * 0.25;
        }
    }

    .form__line--sm-mb{
        .form__unit{
            padding: $space ($space * 1.5);
        }
    }
}

.btn{
    padding: $space*2 $space*7.25;
}

.btn--main{
    background-color: #AA0601;
    font-weight: bold;
    color: $contrast;
}

.form--sub{
    .form__unit{
        border: 1px solid #000;
        background-color: transparent;
    }
}

.form__checkBox{
    display: none;
    ~ label{
        @extend %no-pointer-touch-device;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    ~ label > .form__checkBox__symbol{
        align-self: baseline;
        position: relative;
        display: block;
        height: 1em;
        width: 1em;
        flex: 0 0 auto;
        border: 2px solid #000;
        border-radius: 2px;
        margin-right: $space * 0.5;
        &::before{
            content: '\2713';
            position: absolute;
            font-size: 1.7em;
            bottom: -0.3em;
            left: 0;
            opacity: 0;
        }
    }
    
    &:checked{
        ~ label .form__checkBox__symbol::before{
            opacity: 1;
        }
    }
    
}